.card{
    margin: 0% 2% 0% 2%;
    padding: 15px;
}

.tableHeader{
    color: white;
}

.cartProductImage {
   width: 70px;
}

.tableBodyData {
    vertical-align: middle !important;
}

.checkout {
    display: flex;
    justify-content: center;
}

.buttonCheckoutClass {
    width: 75%;
    font-weight: 700 !important;
}

.headingClass {
    margin-bottom: 25px;
    margin-top: 10px;
    color: darkslategray;
}

.cardHeadigClass {
    color: #b1b1b1;
}

.anquerTagColor {
    color: #757575 !important;
}
