.headerParentClass {
    padding: 10px 10px 10px 10px;
}

.OROLogo {
    width: 20vh;
}

.searchWidget {
    width: 90%;
    margin-top: 4vh;
}

.headerLinks {
    color: #ffffff;
}

a {
    color: #ffffff !important;
}

a:hover {
    color: #c7c7c7 !important;
}