.anquerTagNewUser {
    color: #007bff !important;
}

.anquerTagNewUser:hover {
  color: #adadad !important;
}

.card {
    margin: 0% 2% 0% 2%;
    padding: 15px;
}

.loginHeadingClass {
  display: flex;
  justify-content: center;
}

.UserLoginParentClass {
  width: 50%;
}

.loginCardHeader {
  background-color: tomato;
  border-radius: 5px 5px 0px 0px !important;
}

.loginCardBody {
  border-radius: 0px 0px 5px 5px !important;
}

@media screen and (max-width: 768px) {
  .UserLoginParentClass {
    width: 85%;
  }
}